<div class="container">
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name" %>

    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Email" %>
  <div class="field">
    <%= f.label :password%>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Re-enter password" %>
  </div>
  <%= f.submit "Create account" %>
  <% end %>
</div>
