<div class="container row">
  <div class="card medium col s4">
   <h5>Most funded</h5>
   <%if @most_funded %>
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag @most_funded.image_url, class: "activator responsive-img" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= link_to @most_funded.title, project_path(@most_funded) %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @most_funded.title %><i class="material-icons right">close</i></span>
      <%= @most_funded.description %>
    </div>
    <%end%>
  </div>
  <div class="card medium col s4">
    <h5>Nearly Funded</h5>
  </div>
  <div class="col s3 offset-s1">
    <div class="categories">
      <div class="card-panel teal ">
        <span class="white-text">
	     		<h5>Categories</h5>
	       		<% @categories.each do |category| %>
		    			<li><%= link_to category.name, category_path(category) %></li>
            <% end %>
	   		</span>
      </div>
    </div>
  </div>
</div>

<div class="project-list row container">
  <% @projects.each do |project| %>
  <div class="card medium col s4 m3 l3">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag project.image_url, class: "activator responsive-img" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= link_to project.title, project_path(project) %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= project.title %><i class="material-icons right">close</i></span>
      <%= project.description %>
    </div>
  </div>
  <% end %>
  <%= will_paginate @projects %>
</div>
