

<div class="container row">
  <div class="card center-align col s6">
   <h5>Most funded</h5>
   <%if @most_funded %>
    <div class="card-image waves-effect waves-block waves-light center-align">
      <%= image_tag @most_funded.image_url, class: "activator responsive-img" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= link_to @most_funded.title, project_path(@most_funded) %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @most_funded.title %><i class="material-icons right">close</i></span>
      <%= @most_funded.description %>
    </div>
    <%end%>
  </div>
</div>

<div class="project-list row container">
  <% @projects.each do |project| %>
  <div class="card medium col s4 m3 l3">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag project.image_url, class: "activator responsive-img" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= link_to project.title, project_path(project) %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= project.title %><i class="material-icons right">close</i></span>
      <%= project.description %>
    </div>
  </div>
  <% end %>
</div>
