<div class="container">
  <%= form_for @project do |f| %>
    <%= f.label :category %>
    <%= f.text_field :category %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :image_url%>
    <%= f.text_field :image_url%>

    <%= f.label :target_amount%>
    <%= f.text_field :target_amount%>
    
    <%= f.label :country %>
    <%= f.text_field :country %>

    <%= f.label :completion_date%>
    <%= f.date_select :completion_date, class: "datepicker", selected: 30.days.from_now  %>


    <%= f.submit "Save and continue" %>
  <% end %>
</div>
