<div class="projects-show">

<div class="container blue-grey lighten-5">
  <div class="content">
  <h4><%= @project.title %></h4><br>
    <div class="row">
      <div class="col s8 m16">
        <%= image_tag @project.image_url %><br>
        <i class="small material-icons">view_module</i><%=link_to @project.category['name'], category_path(@project.category)%>

        <i class="small material-icons">location_on</i><%= @project.city.name %>, <%= @project.city.country.name %>

      </div>

      <div class="col s4 m16">
        <div class="card-stacked">
          <div class="card-content">
            <div class="divider green lighten-0" ></div><br>
              <div class="amount"><%= @project.total_pledged %></div>
              pledged of <%= @project.formatted_price %> goal
              <h5>157</h5>
              backers
              <h5>7</h5>
              days to go<br><br>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn" href="<%= projects_rewards_path(@project) %>">Back this project</a>
          </div>
          <p class="flow-text">
          <%= link_to "All or nothing."%> This project will only be funded if it reaches its goal by <%= @project.end_date_time %>.</p>
        </div>
    </div>
  </div>
</div>
</div>
<div class="divider gray lighten-5" ></div><br>
<div class="row">
  <div class="col s8">
  <h5>About this project</h5><br>
    <%= @project.description %><br>

  <div class="map_box">
    <h5>Project location</h5><br>
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC3kyyZa_6q0s1dqTdI93pSxImIR3qewjM&q=<%= @project.city['name'] %>" allowfullscreen>
    </iframe>
  </div>

  <div class="comments-section">
    <h5>Comments (<%= @project.comments.count %>)</h5>
    <% if current_user %>
      <div id="comment-form">
        <form class="post-form form-group">
          <textarea name="comment[body]" placeholder="Add a comment" class="form-control"></textarea><br/><br/>
          <%= hidden_field(:project, :id) %>
          <input type="submit" class="btn btn-primary" value="Submit Comment">
        </form>
      </div>
    <% else %>
      <p><em>Please log in or create an account to add a comment</em></p>
    <% end %>

    <div id="comments-list">
    </div>
  </div>
</div>

  <div class="col s4">
    <h5>Support this project</h5><br>
    <%= render partial: "rewards/rewards_list" %>
  </div>
</div>
</div>

<%= javascript_include_tag "comments" %>
