<% if @user %>
<h3>Your Account information</h3>
<table>
    <thead>
      <tr>
          <th></th>
          <th><h5>Click Field to Edit:</h5><br> your information will save automagically</th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <td><h5>Name:</h5></td>
        <td class='user-edit-field' id='name-field' contenteditable="true"><%= @user.name %></td>
      </tr>
      <tr>
        <td><h5>Email:</h5></td>
        <td class='user-edit-field' id='email-field' contenteditable="true"><%= @user.email %></td>

      </tr>
      <tr>
        <td><h5>Phone:</h5></td>
        <td class='user-edit-field' id='phone-field' contenteditable="true"><%= @user.phone %></td>

      </tr>

    </tbody>
  </table>
<% end %>
<h3>Pledged Rewards</h3>

<div class="row container">
  <% @rewards.each do |reward| %>
    <div class="card blue-grey darken-1 ">
      <div class="card-content white-text">
        <span class="card-title"><%= reward.project.title %> | <%= reward.title %> | <%= reward.price %> | </span>
        <p><%= reward.description %></p>
        <p></p>
      </div>
      <div class="card-action">
        <%= link_to 'View Project', project_path(reward.project) %>
      </div>
    </div>

  <% end %>
</div>

<h3>Your Puntd Projects</h3>

<div class="user-projects">
  <%= render "helpers/project_card" %>
</div>
