<ul id="dropdown1" class="dropdown-content">
  <% Category.all.each do |category| %>
    <li><%= link_to category.name, "/categories/#{category.name}", class: "category_dropdown_link" %></li>
  <% end %>
  <li class="divider"></li>
  <li><a href='/categories'>All Categories</a></li>
</ul>
<nav>
  <div class="nav-wrapper grey">
    <ul id="nav-mobile" class="left hide-on-med-and-down">

			<li><%= link_to 'All Projects', root_path  %></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
			<li><%= link_to "Start a project", new_project_path %></li>
      <li><a href='/graphs'>Analytics</a></li>
			<%= link_to((image_tag "http://routeonedigital.com/images/punt_logo4.png", class: "brand-logo center", width: "300"), root_path) %>
		</ul>

    <%= current_user_nav_element %>
  </div>
</nav>
